html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* font-family: 'PT Serif', serif; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.main {
    padding: 4em 0em 1em 1em;
}

.header h1 {
    font-family: 'PT Serif', serif;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1em;
}

span h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    padding-right: .5em;
}

.mobile {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
}

.header {
    margin-bottom: 6em;
}

img {
    max-width: 80%;
    object-fit: cover;
}

.full-details {
    width: 50%;
    margin-bottom: 1em;
}

.position {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'PT Serif', serif;
    vertical-align: top;
    font-weight: 400;
    font-size: .6em;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: .5em;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 9em;
}

.full-details:nth-child(2n) {
    margin-top: 3.5em;
}

.footer {
    color: #A9A9A9;
    text-align: center;
}

@media (min-width:660px) {
    body {
        display: flex;
        justify-content: center;
    }
    .main {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        width: 900px;
        max-width: 1000px;
        margin-top: 9em;
        margin-left: 2em;
    }
    .header {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .header h1 {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #000000;
        width: 40%;
    }
    span h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .5em;
    }
    .mobile {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    .side-section {
        width: 50%;
    }
    .main-container {
        flex-wrap: wrap;
        margin-bottom: 9em;
        width: 100%;
    }
    .full-details {
        width: 28.85%;
        margin-bottom: 1em;
        padding-right: 40px;
        margin-top: 0;
    }
    img {
        max-width: 80%;
        object-fit: cover;
    }
    .position {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-family: 'PT Serif', serif;
        vertical-align: top;
        font-weight: 400;
        font-size: .5rem;
        padding: 0;
        margin-left: .2em;
    }
    .name {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin-top: .7em;
    }
    .full-details:nth-child(5) {
        margin-top: 8em;
    }
    .full-details:nth-child(2) {
        margin-top: 5em;
    }
    .footer {
        padding-bottom: 1em;
        font-size: 1rem;
        margin-right: 1.6em;
    }
}